<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated iStarre -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iStarre.presentation.IStarreModelWizardID"
            name="%_UI_IStarreModelWizard_label"
            class="iStarre.presentation.IStarreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IStarreModelFile.gif">
         <description>%_UI_IStarreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated iStarre -->
      <editor
            id="iStarre.presentation.IStarreEditorID"
            name="%_UI_IStarreEditor_label"
            icon="icons/full/obj16/IStarreModelFile.gif"
            extensions="istarre"
            class="iStarre.presentation.IStarreEditor"
            contributorClass="iStarre.presentation.IStarreActionBarContributor">
      </editor>
   </extension>

</plugin>
